<div style="color: var(--INTERNAL-MAIN-TEXT-color); opacity: 0.7; font-size: 0.9rem; margin-top: -0.5rem; margin-bottom: 2rem; display: flex; gap: 1.5rem;">
  
  <!-- 公開日の表示 -->
  {{ if not .Date.IsZero }}
  <span><i class="fa-regular fa-calendar-days"></i> Published: {{ .Date.Format "2006-01-02" }}</span>
  {{ end }}

  <!-- 更新日の表示 -->
  {{ if and (not .Lastmod.IsZero) (ne .Date .Lastmod) }}
  <span><i class="fa-solid fa-pen-rotate"></i> Updated: {{ .Lastmod.Format "2006-01-02" }}</span>
  {{ end }}

</div>